{% extends "index2.html" %}
{% block busqueda %} {% endblock %}
    <head>
       {% block titulo %} <title>Solicitud de Cambio registrada correctamente</title>{% endblock %}


    </head>
    <body>
        {% block contenido %}
        <div class="container">
            {% if b != 0 %}
                <p></p><h3>El usuario {{usuario.username}} ya ha votado!!! <span class="glyphicon glyphicon-ok"></span></h3>
            {% else %}
                <p></p><h3>El usuario {{usuario.username}} no puede votar porque no forma parte del comite!!! <span class="glyphicon glyphicon-ok"></span></h3>
            {% endif %}

        </div>
            <a class="button" href="/listaSolicitudes/"><i class="icon-arrow-left"></i> Regresar al listado</a>

        {% endblock %}

    </body>
</html>
