{% extends 'index2.html' %}
{% block encabezado %}

{% endblock %}
{% block contenido %}

        <div class="row" >
                <div class="span10">
                         <ul>
                            <center><p></p><h3>Incluir/Quitar integrante al Comité de Cambios </h3></center>
                             <p>Obs: El comité debe estar conformado por un número impar de integrantes</p>
                             <p>Número actual de Integrantes: {{ comite.cantidad_integrantes }} </p>
                            <div class="span3 bs-docs-sidebar">
		        	            <ul class="nav nav-list bs-docs-sidenav">


					            </ul>
				            </div>
                         </ul>
                        <table class="table table-striped table-bordered">
                                <tr>

                                        <th>Usuario</th>
                                        <th>Estado Activo</th>
                                        <th>Presione para incluir al comité</th>
                                        <th>Presione para quitar del comité</th>


                                </tr>
                            {% for usuarios in usuarios %}

                                <tr>

                                        <td>{{usuarios.username}}</td>
                                        <td>{{ usuarios.is_active }}</td>
                                    {% for comite in comite %}
                                        {% if comite.proyecto == proyecto and comite.usuario == usuarios%}
                                            <td>------------------</td>

                                            <td><a href='/usuario/editarUsuario/{{ usuarios.id }}' class="button btn-small btn-danger"><input type='submit' value='Quitar'/></a></td>

                                        {% else %}
                                             <td><a href='/incluir_al_Comite/{{ proyecto.id }}/{{ usuarios.id }}' class="button btn-small btn-danger"><input type='submit' value='Incluir'/></a></td>
                                             <td>------------------</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                             {% empty %}


                                <tr>
                                        No tiene usuarios
                                </tr>
                                {% endfor %}
        </table>

</div>
</div>
{% endblock %}