{% extends 'index2.html' %}

 <section class='contenido'>
{% block contenido %}
    <div id="body">
        {% if indicador == 0 %}
            <P></P><h3>No se pudo finalizar la Fase </h3>
            <p>La fase contiene items que no estan relacionados a
            una Línea Base por tanto no puede finalizarse</p>

        {% else %}
            <P></P><h3>No se pudo finalizar el Proyecto </h3>

            <p>El proyecto contiene fases que aun no se han finalizado
                por tanto no puede finalizarse</p>
        {% endif %}
	</form>

 <a class="button" href="/fase1/{{ fase }}"><i class="icon-arrow-left"></i> Atras</a>
    </div>
{% endblock %}
</section>
