{% extends 'base.html' %}
{% block style_css %}{% endblock %}
{% block contenido %}

    <p>
	<h1>
        <FONT COLOR="black">Gestionar Item</FONT>
    </h1>

    <li><a href='/'>Crear Item</a></li>
    <li><a href='/'>Cambio de estado de Item</a></li>
    <li><a href="/">Modificar item</a></li>
    <li><a href='/'>Eliminar Item</a></li>
    <li><a href="/">Relacionamiento de item</a></li>
    <li><a href='/'>Reversionamiento de Item</a></li>
    <li><a href="/">Revivir item</a></li>

    <p><a href="/desarrollo"><input type='submit' value='Cancelar'/></a></p>

  </p>
{% endblock %}