
{% extends 'index2.html' %}
{% block encabezado %}

{% endblock %}
{% block contenido %}

        <div class="row" >
                <div class="span10">
                         <ul>
                            <h3>{{ fases.proyectos }} </h3>

                        </ul>

                    <ul>
                             {% for fa in fases %}

                                <p><center><h3>{{ fa.proyectos }} </h3></center></p>

                             {% endfor %}
                    <li><a href="/fase1/registrarFase/{{ proyecto }}"><i class="addlink"></i> Crear Fase</a></li>

                        </ul>
                    <ul>


                        </ul>
                        <table class="table table-striped table-bordered">
                                <tr>
                                        <th>Id</th>
                                        <th>FechaInicio</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Gestion Item</th>

                                </tr>
                            {% for f in fases %}

                                <tr>
                                        <td>{{f.id}}</td>
                                        <td>{{f.fechaInicio}}</td>
                                        <td>{{f.nombre}}</td>
                                        <td>{{ f.estado }}</td>
                                        <td><a class="button" href="/itemFase/{{f.id}}"> Ir a>> </a></td>
                                </tr>

                             {% empty %}

                                <tr>
                                        No hay fases registradas
                                </tr>
                                {% endfor %}
        </table>
                <a class="button" href="/proyecto/"><i class="icon-arrow-left"></i> Atras</a>

</div>
</div>
{% endblock %}}