
{% extends 'index2.html' %}
{% block encabezado %}

{% endblock %}
{% block contenido %}

        <div class="row" >
                <div class="span10">
                         <ul>
                            <h3>{{ fases.proyectos }} </h3>

                        </ul>

                    <ul>

                             <p><center><h3>{{ proyecto.nombre }} </h3></center></p>

                    <li><a href="/fase1/registrarFase/{{ proyecto.id }}"><i class="addlink"></i> Crear Fase</a></li>

                        </ul>
                    <ul>


                        </ul>
                        <table class="table table-striped table-bordered">
                                <tr>
                                        <th>Id</th>
                                        <th>FechaInicio</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Gestion Item</th>
                                        <th>Linea Base</th>
                                        <th>Importar Fase</th>
                                        <th>Finalizar Fase</th>
                                </tr>
                            {% for f in fases %}

                                <tr>
                                        <td>{{f.id}}</td>
                                        <td>{{f.fechaInicio}}</td>
                                        <td>{{f.nombre}}</td>
                                        <td>{{ f.estado }}</td>
                                    {% if f.estado != 'FIN' %}
                                        <td><center><a class="button" href="/itemFase/{{f.id}}"> Ir a>> </a></center></td>
                                        <td><center><a class="button" href="/lb/{{f.id}}"> Ir a>> </a></center></td>
                                        <td><center><a class="button" href="/importarFase/{{f.id}}"> Ir a>> </a></center></td>
                                        <td><center><a class="button" href="/finalizarFase/{{f.id}}"> Ir a>> </a></center></td>
                                    {% else %}
                                        <td><center>Inhabilitado</center></td>
                                        <td><center>Inhabilitado</center></td>
                                        <td><center>Inhabilitado</center></td>
                                        <td><center>Inhabilitado</center></td>
                                    {% endif %}
                                </tr>

                             {% empty %}

                                <tr>
                                        No hay fases registradas
                                </tr>
                                {% endfor %}
        </table>
                <a class="button" href="/proyecto/"><i class="icon-arrow-left"></i> Atras</a>

</div>
</div>
{% endblock %}}