
{% extends 'index2.html' %}
{% block encabezado %}

{% endblock %}
{% block contenido %}

        <div class="row" >
                <div class="span10">
                         <ul>
                            <p><center><h3>Listado de Items </h3></center></p>


                        </ul>
                        <table class="table table-striped table-bordered">
                                <tr>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Version</th>
                                        <th>Tipo Item</th>
                                        <th>Tipo Atributo</th>

                                        <th>Presione para editar el item</th>
                                        <th>Presione para eliminar el item</th>
                                        <th>Presione para relacionar a un item</th>
                                        <th>Presione para reversionar un item</th>
                                        <th>Presione para revivir al item</th>



                                </tr>
                            {% for items in items %}

                                <tr>
                                        <td>{{items.nombre}}</td>
                                        <td>{{items.estado }}</td>
                                        <td>{{items.version}}</td>
                                        <td>{{items.tipoItem}}</td>
                                        <td>{{items.tipoItem.tipoAtributo }}</td>

                                {% if items.estado == 'REDAC' or items.estado == 'TER'%}
                                     <td><a href='/item/modificarItem/{{ items.id }}' class="button btn-small btn-danger"><input type='submit' value='Modificar'/></a></td>
                                     <td><a href='/item/eliminarItem/{{ items.id }}' class="button btn-small btn-danger"><input type='submit' value='Eliminar'/></a></td>
                                     <td><a href='/item/relacionarItem/{{ items.id }}' class="button btn-small btn-danger"><input type='submit' value='Relacionar'/></a></td>
                                    <td><a href='/item/reversionarItem/{{ items.id }}' class="button btn-small btn-danger"><input type='submit' value='Reversionar'/></a></td>
                                     <td>--------------------</td>
                                {% else %}

                                    <td>Inhabilitado</td>
                                    <td>Inhabilitado</td>
                                    <td>Inhabilitado</td>

                                    <td>Inhabilitado</td>
                                    {% if items.estado != 'REV' and items.estado != 'VAL' %}
                                        <td><a href='/item/revivirItem/{{ items.id }}' class="button btn-small btn-danger"><input type='submit' value='Revivir'/></a></td>
                                    {% else %}
                                        <td>--------------------</td>
                                    {% endif %}
                                {%endif%}



                                </tr>
                             {% empty %}

                                <tr>
                                        No hay Items registrados
                                </tr>
                                {% endfor %}
        </table>
</div>
</div>
{% endblock %}