{% extends 'index2.html' %}
{% block encabezado %}

{% endblock %}
{% block contenido %}

        <div class="row" >
                <div class="span10">
                         <ul>
                            <h3>Tipo de Atributos </h3>

                            <li><a href="/tipoAtributo/registrarTipoAtributo/"><i class="icon-chevron-right"></i> Crear Tipo de Atributo</a></li>

                        </ul>
                        <table class="table table-striped table-bordered">
                                <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>

                                        <th>Presione Modificar para editar el tipoAtributo</th>
                                        <th>Presione Eliminar para eliminar el tipoAtributo</th>


                                </tr>
                            {% for ta in tAtributos %}

                                <tr>
                                        <td>{{ta.codigo}}</td>

                                        <td>{{ta.nombre}}</td>


                                <td><a href='/tipoAtributo/modificar_tipoAtributo/{{ ta.codigo }}' class="button btn-small btn-danger"><input type='submit' value='Modificar'/></a></td>
                                <td><a href='/tipoAtributo/eliminar_tipoAtributo/{{ ta.codigo}}' class="button btn-small btn-danger"><input type='submit' value='Eliminar'/></a></td>


                                </tr>
                             {% empty %}

                                <tr>
                                        No hay Tipo de Atributos registrados
                                </tr>
                                {% endfor %}
        </table>
</div>
</div>
{% endblock %}}