{% extends 'index2.html' %}
{% block style_css %}{% endblock %}
{% block contenido %}

     <p>
	<h3>
       <center> Gestionar Solicitudes de Cambio Proyecto: {{ proyecto.nombre }}</center>
    </h3>

    <li><a href='/listaSolicitudes'>Generar Solicitud de Cambio</a></li>
    <li><a href=''>Responder Solicitud de Cambio</a></li>
    <li><a href="">Consultar Solicitudes de Cambio</a></li>
    <p><p><a class="button" href="/configuracion"><i class="button"></i> Cancelar</a></p>
  </p>
{% endblock %}