{% extends 'index2.html' %}
{% block encabezado %}

{% endblock %}
{% block contenido %}

        <div class="row" >
                <div class="span10">
                         <ul>
                            <h3>Items </h3>

                            <li><a href="/item/registrarItem/"><i class="icon-chevron-right"></i> Crear Item</a></li>

                        </ul>
                        <table class="table table-striped table-bordered">
                                <tr>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Version</th>
                                        <th>Tipo Item</th>
                                        <th>Tipo Atributo</th>

                                        <th>Presione Editar para editar el item</th>
                                        <th>Presione Eliminar para eliminar el item</th>

                                </tr>
                            {% for i in items %}

                                <tr>
                                        <td>{{i.nombre}}</td>
                                        <td>{{i.estado }}</td>
                                        <td>{{i.version}}</td>
                                        <td>{{i.tipoItem}}</td>
                                        <td>{{i.tipoItem.tipoAtributo }}</td>

                                {% if i.estado == 'REDAC' or i.estado == 'TER' %}
                                     <td><a href='/item/modificarItem/{{ i.nroItem }}' class="button btn-small btn-danger"><input type='submit' value='Modificar'/></a></td>
                                     <td><a href="#" class="button btn-small btn-danger"><input type='submit' value='Eliminar'/></a></td>
                                {% endif %}
                                </tr>
                             {% empty %}

                                <tr>
                                        No hay Items registrados
                                </tr>
                                {% endfor %}
        </table>
</div>
</div>
{% endblock %}