{% extends 'index2.html' %}
{% block encabezado %}

{% endblock %}
{% block contenido %}

        <div class="row" >
                <div class="span10">

                        <ul>

                                <p><center><h3>{{ fase.proyectos }} - {{  fase.nombre }} </h3></center></p>

                            <li><a href="/item/registrarItem/{{fase.id}}"><i class="icon-chevron-right"></i> Crear Item</a></li>

                        </ul>

                        <table class="table table-striped table-bordered">
                                <tr>
                                        <th>id</th>
                                        <th>Nombre</th>
                                        <th>Version</th>
                                        <th>Estado</th>
                                        <th>Tipo de Item</th>
                                        <th>Linea Base</th>




                                </tr>
                            {% for i in items %}

                                <tr>
                                        <td>{{i.id}}</td>
                                        <td>{{i.nombre}}</td>
                                        <td>{{i.version}}</td>
                                        <td>{{i.estado}}</td>
                                        <td>{{i.tipoItem}}</td>
                                        <td>{{ i.lb }}</td>


                                </tr>

                             {% empty %}

                                <tr>
                                        No hay items registrados
                                </tr>
                                {% endfor %}
        </table>

                <a class="button" href="/fase1/{{fase.id}}"><i class="icon-arrow-left"></i> Atras</a>

</div>
</div>
{% endblock %}}