<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GTG</title>
<link rel="stylesheet" href="../static/css/styles.css" type="text/css" />
<link rel='stylesheet' href='{{STATIC_URL}}css/styles.css'>

</head>
<body>

<div id="container">
    <header>
    	<h1><a href="/">Gesto<span>grama</span></a></h1>
        <h2>Gestión de Proyectos</h2>
    </header>
    <nav>
    	<ul id="menu1">
        	<li class="start selected"><a href=/privado/>Inicio</a></li>


                <li><a href=''>Módulo de Administración</a>
            {% if user.is_superuser %}

                <ul>
                    <li><a href='/tipoAtributo'>Gestión de Tipo de Atributo</a></li>
                    <li><a href='/usuario'>Gestión de Usuarios</a></li>
                    <li><a href='/proyectoAdmin'>Gestión de Proyectos</a></li>
                    <li><a href='/rolPermiso'>Gestión de Roles y Permisos</a></li>
                </ul>
            {% else %}
                {% if user != user.is_superuser %}
                <ul>

                    <li><a href='/fase1/{{ proyecto.id }}'>Gestión de Fases</a></li>
                    <li><a href='/tipoItem/{{ proyecto.id }}'>Gestión de Tipo de Ítems</a></li>
                    {% if user == proyecto.lider %}
                        <li><a href='/incluir_al_Comite/{{ proyecto.id }}'>Comité de Cambios</a>></li>
                    {% endif %}
                </ul>
                </li>
                 <li><a href='#'>Módulo de Desarrollo</a>
                <ul>
                    <li><a href='/item/{{ proyecto.id }}'>Gestión de Ítems</a></li>
                    <li><a href='/listaItemsProyecto/{{ proyecto.id }}'>Cálculo de Impacto</a></li>
                </ul>
                </li>
                    <li><a href='#'>Módulo de Configuración</a>
                <ul>
                    <li><a href='/listaLbRota'>Gestión de Línea Base</a></li>
                    <li><a href='/listaSolicitudes'>Gestión de Solicitudes de Cambio</a></li>

                </ul>
                </li>
               {% endif %}
            {% endif %}

                <li><a href='#'>Reporte</a>

                {% if user.is_superuser %}
                <ul>
                    <li><a href='/reporte/usuario'>Usuarios</a></li>
                    <li><a href='/reporte/proyecto'>Proyectos</a></li>
                    <li><a href='/reporte/rol'>Roles</a></li>
                </ul>
                {% else %}

                    {% if user == proyecto.lider %}
                    <ul>
                        <li><a href='/reporte/proyecto/lineasBase/{{ proyecto.id }}'>Linea Base</a></li>
                        <li><a href='/reporte/proyecto/items/{{ proyecto.id }}'>Items</a></li>
                        <li><a href='/reporte/proyecto/solicitudesCambio/{{ proyecto.id }}'>Solicitudes</a></li>

                    </ul>
                </li>
                 {% endif %}
            {% endif %}
                <li><a href='/cerrar'>Cerrar</a></li>
                <li><a href="#contact">User:{{ user.username}}</a></li>

            </ul>
        </nav>


    <div id="body">



		<section class='contenido'>
            {% block contenido %}{% endblock %}
        </section>



        <div class="footer-content1">

        </div>
    <footer>
        <div class="footer-bottom">
            <p> Proyecto 2014 - Ingeniería de SoftwareII <p>  Facultad Politécnica - Universidad Nacional de Asunción.</p>
        </div>
    </footer>
</div>
</div>
</body>
</html>