{% extends 'index.html' %}
{% block encabezado %}
	<h1><FONT COLOR="white">Iniciar Sesion</FONT></h1>
{% endblock %}
{% block contenido %}
  </p>
<p></p><h2><center>Inicio Sesión</center></h2>

            <p><center>Bienvenido a Gestograma, el sistema de gestión de ítems de Proyectos.

            <p> Para acceder a los recursos del Sistema inicie sesión </center> </p>
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{formulario}}</table>
        <p><center><input name="Ingresar" style="margin-left: 150px;" class="formbutton" value="Ingresar" type="submit" /></center></p>

	</form>
{% endblock %}
