{% extends 'index2.html' %}
<section class='contenido'>
{% block contenido %}
 <div id="body">
        <p><h3>Relacionar ítems a una Línea Base </h3>
        <form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{formulario}}</table>
        <p>
            <p>Confirme para relacionar ítems a la Línea Base </p>

            <input name="Guardar" style="margin-left: 150px;" class="formbutton" value="Confirmar" type="submit" />
        </p>
	</form>
 </div>
{% endblock %}
</section>