{% extends 'index2.html' %}
{% block encabezado %}

{% endblock %}
{% block contenido %}

        <div class="row" >
                <div class="span10">

                        <ul>

                                <p><center><h3>Línea Base {{ lb.id }} - {{  lb.fase }} </h3></center></p>


                        </ul>

                        <table class="table table-striped table-bordered">
                                <tr>
                                        <th>id</th>
                                        <th>Nombre</th>
                                        <th>Version</th>
                                        <th>Estado</th>
                                        <th>Antecesor</th>
                                        <th><center>Presione para asociar el ítem a la LB</center></th>




                                </tr>
                            {% for i in items %}
                                {% if i.fase == lb.fase %}
                                    {% if i.fase.id == 1 %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.nombre}}</td>
                                            <td>{{i.version}}</td>
                                            <td>{{i.estado}}</td>
                                            <td>{{ i.antecesorVertical }}</td>
                                            {% if i.antecesorVertical == None %}
                                                <td><center><a href='/listaItemsTer/relaionarItemLb/{{ lb.id }}/{{i.id}}' class="button btn-small btn-danger"><input type='submit' value='Asociar'/></a></center></td>
                                            {% else %}
                                                {% if i.antecesorVertical.estado == 'VAL' or i.relacion == 'DEL' %}
                                                    <td><center><a href='/listaItemsTer/relaionarItemLb/{{ lb.id }}/{{i.id}}' class="button btn-small btn-danger"><input type='submit' value='Asociar'/></a></center></td>
                                                {% else %}
                                                    {% if i.antecesorVertical.estado != 'VAL' or i.relacion == 'ACT' %}
                                                    <td><center>Antecesor aún validado</center></td>
                                                    {% endif %}
                                                {% endif %}

                                            {% endif %}
                                        </tr>
                                    {% else %}
                                            <tr>
                                                <td>{{i.id}}</td>
                                                <td>{{i.nombre}}</td>
                                                <td>{{i.version}}</td>
                                                <td>{{i.estado}}</td>
                                                {% if i.antecesorHorizontal.estado == None and i.antecesorVertical == None %}
                                                    <td>{{ i.antecesorVertical }} </td>
                                                    <td><center><a href='/listaItemsTer/relaionarItemLb/{{ lb.id }}/{{i.id}}' class="button btn-small btn-danger"><input type='submit' value='Asociar'/></a></center></td>
                                                {% else %}
                                                    {% if i.antecesorHorizontal.estado == None and i.antecesorVertical != None %}
                                                        {% if i.antecesorVertical.estado == 'VAL' %}
                                                            <td>{{ i.antecesorVertical }} </td>
                                                            <td><center><a href='/listaItemsTer/relaionarItemLb/{{ lb.id }}/{{i.id}}' class="button btn-small btn-danger"><input type='submit' value='Asociar'/></a></center></td>
                                                        {% else %}
                                                            <td>{{ i.antecesorVertical }} </td>
                                                            <td><center>Antecesor aun validado</center></td>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if i.antecesorHorizontal.estado != None and i.antecesorVertical == None %}
                                                            {% if i.antecesorHorizontal.estado == 'VAL' %}
                                                                <td>{{ i.antecesorHorizontal }} </td>
                                                                <td><center><a href='/listaItemsTer/relaionarItemLb/{{ lb.id }}/{{i.id}}' class="button btn-small btn-danger"><input type='submit' value='Asociar'/></a></center></td>
                                                            {% else %}
                                                                <td>{{ i.antecesorHorizontal }} </td>
                                                                <td><center>Antecesor aun validado</center></td>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                    {% endif %}
                                {% endif %}
                             {% empty %}
                                <tr>
                                        No hay items en estado "Terminado"<p></p>
                                </tr>
                                {% endfor %}
        </table>

                <a class="button" href="/lb/{{lb.fase.id}}"><i class="icon-arrow-left"></i> Atras</a>

</div>
</div>
{% endblock %}}