<HEAD><TITLE>Proyectos</TITLE>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
</HEAD>
{% block encabezado %}
	<h1><FONT COLOR="#191970">Proyectos registrados</FONT></h1>

{% endblock %}

{% block contenido %}
<ul>
	 		{% for proyectos in proyectos %}
			<tr><br>
                <td>{{ proyectos.nombre }}</td>
				<td>{{ proyectos.fechaInicio }}</td>

                <p style='margin-left: 2em'>
                <td><a href='/lista_ProyectoEditar/editarProyecto/{{ proyectos.id }}' class="btn btn-small btn-danger"><input type='submit' value='Editar'/></a></td>
                </p>
                </br>
			</tr>
			{% empty %}
				<tr>
					<td>No hay proyectos registrados</td>
				</tr>
			{% endfor %}

</ul>
{% endblock %}