{% extends "index2.html" %}
{% block busqueda %} {% endblock %}
    <head>
       {% block titulo %} <title>Votacion</title>{% endblock %}


    </head>
    <body>
        {% block contenido %}
        <div class="container">
            <h3>Votacion realizada satisfactoriamente <span class="glyphicon glyphicon-ok"></span></h3>
            {% if aprobada == 1 %}
                <h3>La solicitud ha sido aprobada <span class="glyphicon glyphicon-ok"></span></h3>
            {% endif %}
            {% if aprobada  == 0 %}
                <h3>La solicitud ha sido rechazada <span class="glyphicon glyphicon-ok"></span></h3>
            {% endif %}
            {% if aprobada  == 2 %}
                <h3>Voto guardado de los demas miembros del comite <span class="glyphicon glyphicon-ok"></span></h3>
        {% endif %}
        </div>
            <a class="button" href="/listaSolicitudes/"><i class="icon-backward"></i> Regresar</a>
        {% endblock %}

    </body>
</html>
