/* algunos ejemplos con CSS */
footer, div, h1, h2, ul, li, a {
	margin:5; padding:0;
}
body {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-color: black;
    font-family: "Lucida Grande";
    color: black;

    background: lavender;
    margin:50px;
}
a:link, a:visited {
    color: black;
=======
    margin: 10;
    padding: 10;
    font-size: 18px;
    font-family: "Courier";
    color: white;
    background: cadetblue;
}
a:link, a:visited {
    color: white;
>>>>>>> fa2bf0c2a0e993123d861066e5fe54ae01ad4e38
    text-decoration: none;
    margin:10px;
}
header {
<<<<<<< HEAD
	background-color:WHITE;
	color:WHITE;
	margin:10px;
}
nav ul li a{
	text-decoration:none;
	color: black;
	margin:10px;
=======
	background-color:deepskyblue;
	color:white;
}
nav ul li a{
	text-decoration:none;
	color:white;
	margin:0px;
>>>>>>> fa2bf0c2a0e993123d861066e5fe54ae01ad4e38
}
.activo { 
  font-weight: bold; 

}
.impar { 
<<<<<<< HEAD
	background-color:grey;
}
.par { 
	background-color:grey;
}
#content-related h3 {
    font-size: 12px;
    color: black;
    margin-bottom: 3px;
=======
	background-color:cornflowerblue;
}
.par { 
	background-color:cornflowerblue;
}
#content-related h3 {
    font-size: 12px;
    color: white;
    margin:5px;
    margin-bottom: 10px;
>>>>>>> fa2bf0c2a0e993123d861066e5fe54ae01ad4e38
}
